<div class="custom-bg">
  <app-nav></app-nav>
  <div class="container">
    <div class="info mb-4">
      <h1 class="get Outfit">Get in Touch with Us</h1>
      <p>We'd love to hear from you! Whether you have a question, need assistance, or just want to share feedback, please fill out the form below.</p>
    </div>
    <div class="row">
      <div class="left col-sm-12 col-lg-7 mb-3">
        <div class="mb-3">
          <label for="nameInput" class="form-label Outfit">Name*</label>
          <input type="text" class="form-control Outfit" id="nameInput" placeholder="Enter your name" required>
        </div>
        <div class="mb-3">
          <label for="emailInput" class="form-label Outfit">Email*</label>
          <input type="email" class="form-control Outfit" id="emailInput" placeholder="Enter your email" required>
        </div>
        <div class="mb-3">
          <label for="messageInput" class="form-label Outfit">Message*</label>
          <textarea class="form-control Outfit" id="messageInput" placeholder="Type your message..." rows="5" required></textarea>
        </div>
        <button class="btn Outfit">Submit</button>
      </div>
      <div class="right col-sm-12 col-lg-5">
        <div class="contact-info">
          <i class="bi bi-envelope "></i>
          <h5 class="Outfit fontaswm">Email</h5>
          <p class="Outfit">This Email address you can contact us with</p>
          <h6 class="Outfit">contact&#64;gmail.com</h6>
        </div>
        <div class="contact-info">
          <i class="bi bi-geo-alt "></i>
          <h5 class="Outfit fontaswm">Office</h5>
          <p class="Outfit">We hope to meet you soon</p>
          <h6 class="Outfit">Armed Forces Language Center - Ismailia</h6>
        </div>
        <div class="contact-info">
          <i class="bi bi-telephone "></i>
          <h5 class="Outfit fontaswm">Phone</h5>
          <p class="Outfit">You can call anytime you want</p>
          <h6 class="Outfit">+20 1000000000</h6>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
