<!-- Property Section -->
<section class="container pb-100">
  <!-- Section Header -->
  <header class="text-center pb-5">
    <h2 class="custom-h2 Outfit">
      Discover the Exceptional Benefits of Shopping <br />
      with Us Today!
    </h2>
  </header>
  <!-- Section Body -->
  <div class="row">
    <!-- Right Side - Image -->
    <div class="col-md-6 order-md-2 order-1 img-size">
      <img
        src="../../assets/1729450883536-product11.png"
        loading="lazy"
        alt="Modern stylish chair"
        class="img-size"
      />
    </div>
    <!-- Left Side - List of Benefits -->
    <div class="col-md-6 order-md-1 order-2">
      <div class="pb-3">
        <h5 class="custom-h5 Outfit"><svg  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--iconoir" width="32px" height="32px" class="cubi" color="#797B74" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
          <g fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="1.5">
            <path stroke-linecap="round" d="M21 7.353v9.294a.6.6 0 0 1-.309.525l-8.4 4.666a.6.6 0 0 1-.582 0l-8.4-4.666A.6.6 0 0 1 3 16.647V7.353a.6.6 0 0 1 .309-.524l8.4-4.667a.6.6 0 0 1 .582 0l8.4 4.667a.6.6 0 0 1 .309.524"></path>
            <path stroke-linecap="round" d="m3.528 7.294l8.18 4.544a.6.6 0 0 0 .583 0l8.209-4.56M12 21v-9"></path>
            <path fill="currentColor" d="m11.691 11.829l-7.8-4.334A.6.6 0 0 0 3 8.02v8.627a.6.6 0 0 0 .309.525l7.8 4.333A.6.6 0 0 0 12 20.98v-8.627a.6.6 0 0 0-.309-.524Z"></path>
          </g>
        </svg>Exceptional Quality Furniture</h5>
        <p class="text-body Outfit">
          Crafted with premium materials and meticulous attention to detail, our
          furniture is built to last while maintaining timeless style.
        </p>
      </div>

      <div class="pb-3">
        <h5 class="custom-h5 Outfit"><svg  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--iconoir" width="32px" height="32px" class="cubi" color="#797B74" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
          <g fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="1.5">
            <path stroke-linecap="round" d="M21 7.353v9.294a.6.6 0 0 1-.309.525l-8.4 4.666a.6.6 0 0 1-.582 0l-8.4-4.666A.6.6 0 0 1 3 16.647V7.353a.6.6 0 0 1 .309-.524l8.4-4.667a.6.6 0 0 1 .582 0l8.4 4.667a.6.6 0 0 1 .309.524"></path>
            <path stroke-linecap="round" d="m3.528 7.294l8.18 4.544a.6.6 0 0 0 .583 0l8.209-4.56M12 21v-9"></path>
            <path fill="currentColor" d="m11.691 11.829l-7.8-4.334A.6.6 0 0 0 3 8.02v8.627a.6.6 0 0 0 .309.525l7.8 4.333A.6.6 0 0 0 12 20.98v-8.627a.6.6 0 0 0-.309-.524Z"></path>
          </g>
        </svg>Affordable Pricing</h5>
        <p class="text-body Outfit">
          Enjoy luxury furniture without breaking the bank. Our competitive
          prices ensure you get the best value for your money.
        </p>
      </div>

      <div class="pb-3">
        <h5 class="custom-h5 Outfit"><svg  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--iconoir" width="32px" height="32px" class="cubi" color="#797B74" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
          <g fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="1.5">
            <path stroke-linecap="round" d="M21 7.353v9.294a.6.6 0 0 1-.309.525l-8.4 4.666a.6.6 0 0 1-.582 0l-8.4-4.666A.6.6 0 0 1 3 16.647V7.353a.6.6 0 0 1 .309-.524l8.4-4.667a.6.6 0 0 1 .582 0l8.4 4.667a.6.6 0 0 1 .309.524"></path>
            <path stroke-linecap="round" d="m3.528 7.294l8.18 4.544a.6.6 0 0 0 .583 0l8.209-4.56M12 21v-9"></path>
            <path fill="currentColor" d="m11.691 11.829l-7.8-4.334A.6.6 0 0 0 3 8.02v8.627a.6.6 0 0 0 .309.525l7.8 4.333A.6.6 0 0 0 12 20.98v-8.627a.6.6 0 0 0-.309-.524Z"></path>
          </g>
        </svg>Free Installation</h5>
        <p class="text-body Outfit">
          Our expert team will handle installation at no extra cost, so you can
          sit back and relax while we take care of everything.
        </p>
      </div>

      <div>
        <h5 class="custom-h5 Outfit"><svg  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--iconoir" width="32px" height="32px" class="cubi" color="#797B74" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
          <g fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="1.5">
            <path stroke-linecap="round" d="M21 7.353v9.294a.6.6 0 0 1-.309.525l-8.4 4.666a.6.6 0 0 1-.582 0l-8.4-4.666A.6.6 0 0 1 3 16.647V7.353a.6.6 0 0 1 .309-.524l8.4-4.667a.6.6 0 0 1 .582 0l8.4 4.667a.6.6 0 0 1 .309.524"></path>
            <path stroke-linecap="round" d="m3.528 7.294l8.18 4.544a.6.6 0 0 0 .583 0l8.209-4.56M12 21v-9"></path>
            <path fill="currentColor" d="m11.691 11.829l-7.8-4.334A.6.6 0 0 0 3 8.02v8.627a.6.6 0 0 0 .309.525l7.8 4.333A.6.6 0 0 0 12 20.98v-8.627a.6.6 0 0 0-.309-.524Z"></path>
          </g>
        </svg>Fast Shipping</h5>
        <p class="text-body Outfit">
          Get your furniture quickly and on time with our fast and reliable
          shipping services, so you can start enjoying your new space sooner.
        </p>
      </div>
    </div>
  </div>
</section>
<!-- ------------------------------------------------------------------------------------------------------- -->

<section class="container pb-5">
  <!-- Header Content -->
  <header class="text-center pb-4">
    <h2 class="custom-h2 pb-2 Outfit">
      Discover Our Top Picks for Stylish and <br />Affordable Furniture
    </h2>

    <p class="text-body Outfit">
      Explore the reasons why thousands of customers choose us for their home
      furnishing needs. From exceptional quality to unparalleled convenience, we
      have everything you need to create the perfect living space.
    </p>
  </header>
  <!-- Tabs -->
  <div class="tabs">
    <button class="tab Outfit" (click)="setActiveTab('table')">Table</button>
    <button class="tab Outfit" (click)="setActiveTab('chair')">Chair</button>
    <button class="tab Outfit" (click)="setActiveTab('sofa')">Sofa</button>
    <button class="tab Outfit" (click)="setActiveTab('kitchen')">Kitchen</button>
  </div>

  <div class="tab-content" *ngIf="activeTab === 'table'">
    <!-- محتوى Table -->
    <!-- Product Cards -->
    <div class="row mt-4">
      <!-- Card 1 -->
      <div class="col-md-4">
        <div class="card h-100">
          <img
            src="../../assets/1729451670973-product27.png"
            loading="lazy"
            alt="Product 1"
            class="card-img-top"
          />
          <!-- Card Body Content -->
          <div class="card-body">
            <p class="card-text product-type pb-2 Outfit">Table</p>
            <h6 class="card-title product-name pb-2 Outfit">Brown Table</h6>
            <!-- Rating Icon -->
            <p class="card-text pb-5">
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
            </p>
            <!-- Buy Now Link -->
            <!-- <a href="#" class="buy-link Outfit">
              Buy Now <i class="bi bi-chevron-right Outfit"></i>
            </a> -->
          </div>
        </div>
      </div>

      <!-- Card 2 -->
      <div class="col-md-4">
        <div class="card h-100">
          <img
            src="../../assets/1729451024670-product14.png"
            loading="lazy"
            alt="Product 1"
            class="card-img-top"
          />
          <!-- Card Body Content -->
          <div class="card-body">
            <p class="card-text product-type pb-2 Outfit">Table</p>
            <h6 class="card-title product-name pb-2 Outfit">Silver table</h6>
            <!-- Rating Icon -->
            <p class="pb-5" aria-label="5 stars rating">
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
            </p>
            <!-- Buy Now Link -->
            <!-- <a href="#" class="buy-link Outfit" aria-label="Buy Now Button">
              Buy Now <i class="bi bi-chevron-right Outfit"></i>
            </a> -->
          </div>
        </div>
      </div>

      <!-- Card 3 -->
      <div class="col-md-4">
        <div class="card h-100">
          <img
            src="../../assets/1729451263267-product19.png"
            loading="lazy"
            alt="Product 1"
            class="card-img-top"
          />
          <!-- Card Body Content -->
          <div class="card-body">
            <p class="card-text product-type pb-2 Outfit">Table</p>
            <h6 class="card-title product-name pb-2 Outfit">Gold table</h6>
            <!-- Rating Icon -->
            <p class="card-text pb-5">
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
            </p>
            <!-- Buy Now Link -->
            <!-- <a href="#" class="buy-link Outfit">
              Buy Now <i class="bi bi-chevron-right Outfit"></i>
            </a> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="tab-content" *ngIf="activeTab === 'chair'">
    <!-- محتوى Chair -->
    <!-- Product Cards -->
    <div class="row mt-4">
      <!-- Card 1 -->
      <div class="col-md-4">
        <div class="card h-100">
          <img
            src="../../assets/1729459189251-product52.png"
            loading="lazy"
            alt="Product 1"
            class="card-img-top"
          />
          <!-- Card Body Content -->
          <div class="card-body">
            <p class="card-text product-type pb-2 Outfit">Chair</p>
            <h6 class="card-title product-name pb-2 Outfit">Muuto</h6>
            <!-- Rating Icon -->
            <p class="card-text pb-5">
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
            </p>
            <!-- Buy Now Link -->
            <!-- <a href="#" class="buy-link">
              Buy Now <i class="bi bi-chevron-right"></i>
            </a> -->
          </div>
        </div>
      </div>

      <!-- Card 2 -->
      <div class="col-md-4">
        <div class="card h-100">
          <img
            src="../../assets/1729452919595-product48.png"
            loading="lazy"
            alt="Product 1"
            class="card-img-top"
          />
          <!-- Card Body Content -->
          <div class="card-body">
            <p class="card-text product-type pb-2 Outfit">Chair</p>
            <h6 class="card-title product-name pb-2 Outfit">Fly Series SC1 Lounge Chair</h6>
            <!-- Rating Icon -->
            <p class="pb-5" aria-label="5 stars rating">
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
            </p>
            <!-- Buy Now Link -->
            <!-- <a href="#" class="buy-link Outfit" aria-label="Buy Now Button">
              Buy Now <i class="bi bi-chevron-right Outfit"></i>
            </a> -->
          </div>
        </div>
      </div>

      <!-- Card 3 -->
      <div class="col-md-4">
        <div class="card h-100">
          <img
            src="../../assets/1729452110653-product36.png"
            loading="lazy"
            alt="Product 1"
            class="card-img-top"
          />
          <!-- Card Body Content -->
          <div class="card-body">
            <p class="card-text product-type pb-2 Outfit">Chair</p>
            <h6 class="card-title product-name pb-2 Outfit">Visu Counter Stool</h6>
            <!-- Rating Icon -->
            <p class="card-text pb-5">
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
            </p>
            <!-- Buy Now Link -->
            <!-- <a href="#" class="buy-link Outfit">
              Buy Now <i class="bi bi-chevron-right Outfit"></i>
            </a> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="tab-content" *ngIf="activeTab === 'sofa'">
    <!-- محتوى Sofa -->
    <!-- Product Cards -->
    <div class="row mt-4">
      <!-- Card 1 -->
      <div class="col-md-4">
        <div class="card h-100">
          <img
            src="../../assets/1729450977104-product13.png"
            loading="lazy"
            alt="Product 1"
            class="card-img-top"
          />
          <!-- Card Body Content -->
          <div class="card-body">
            <p class="card-text product-type pb-2 Outfit">Sofa</p>
            <h6 class="card-title product-name pb-2 Outfit">Originals Studio Couch</h6>
            <!-- Rating Icon -->
            <p class="card-text pb-5">
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
            </p>
            <!-- Buy Now Link -->
            <!-- <a href="#" class="buy-link Outfit">
              Buy Now <i class="bi bi-chevron-right Outfit"></i>
            </a> -->
          </div>
        </div>
      </div>

      <!-- Card 2 -->
      <div class="col-md-4">
        <div class="card h-100">
          <img
            src="../../assets/1729451312206-product20.png"
            loading="lazy"
            alt="Product 1"
            class="card-img-top"
          />
          <!-- Card Body Content -->
          <div class="card-body">
            <p class="card-text product-type pb-2 Outfit">Sofa</p>
            <h6 class="card-title product-name pb-2 Outfit">Fly Series SC2 Sofa</h6>
            <!-- Rating Icon -->
            <p class="pb-5" aria-label="5 stars rating">
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
            </p>
            <!-- Buy Now Link -->
            <!-- <a href="#" class="buy-link Outfit" aria-label="Buy Now Button">
              Buy Now <i class="bi bi-chevron-right Outfit"></i>
            </a> -->
          </div>
        </div>
      </div>

      <!-- Card 3 -->
      <div class="col-md-4">
        <div class="card h-100">
          <img
            src="../../assets/1729451538941-product24.png"
            loading="lazy"
            alt="Product 1"
            class="card-img-top"
          />
          <!-- Card Body Content -->
          <div class="card-body">
            <p class="card-text product-type pb-2 Outfit">Sofa</p>
            <h6 class="card-title product-name pb-2 Outfit">Originals Love Seat Bench</h6>
            <!-- Rating Icon -->
            <p class="card-text pb-5">
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
            </p>
            <!-- Buy Now Link -->
            <!-- <a href="#" class="buy-link Outfit">
              Buy Now <i class="bi bi-chevron-right Outfit"></i>
            </a> -->
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="tab-content" *ngIf="activeTab === 'kitchen'">
    <!-- محتوى kitchen -->
    <!-- Product Cards -->
    <div class="row mt-4">
      <!-- Card 1 -->
      <div class="col-md-4">
        <div class="card h-100">
          <img
            src="../../assets/1729451582815-product25.png"
            loading="lazy"
            alt="Product 1"
            class="card-img-top"
          />
          <!-- Card Body Content -->
          <div class="card-body">
            <p class="card-text product-type pb-2 Outfit">kitchen</p>
            <h6 class="card-title product-name pb-2 Outfit">Italian Kitchen</h6>
            <!-- Rating Icon -->
            <p class="card-text pb-5">
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
            </p>
            <!-- Buy Now Link -->
            <!-- <a href="#" class="buy-link Outfit">
              Buy Now <i class="bi bi-chevron-right Outfit"></i>
            </a> -->
          </div>
        </div>
      </div>

      <!-- Card 2 -->
      <div class="col-md-4">
        <div class="card h-100">
          <img
            src="../../assets/1729452723982-product45.png"
            loading="lazy"
            alt="Product 1"
            class="card-img-top"
          />
          <!-- Card Body Content -->
          <div class="card-body">
            <p class="card-text product-type pb-2 Outfit">kitchen</p>
            <h6 class="card-title product-name pb-2 Outfit">French Bistro</h6>
            <!-- Rating Icon -->
            <p class="pb-5" aria-label="5 stars rating">
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
            </p>
            <!-- Buy Now Link -->
            <!-- <a href="#" class="buy-link Outfit" aria-label="Buy Now Button">
              Buy Now <i class="bi bi-chevron-right Outfit"></i>
            </a> -->
          </div>
        </div>
      </div>

      <!-- Card 3 -->
      <div class="col-md-4">
        <div class="card h-100">
          <img
            src="../../assets/1729452523375-product41.png"
            loading="lazy"
            alt="Product 1"
            class="card-img-top"
          />
          <!-- Card Body Content -->
          <div class="card-body">
            <p class="card-text product-type pb-2 Outfit">kitchen</p>
            <h6 class="card-title product-name pb-2 Outfit">Japanese Sushi Bar</h6>
            <!-- Rating Icon -->
            <p class="card-text pb-5">
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
            </p>
            <!-- Buy Now Link -->
            <!-- <a href="#" class="buy-link Outfit">
              Buy Now <i class="bi bi-chevron-right Outfit"></i>
            </a> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
