<div class="custom-bg min-vh-100 d-flex align-items-center">
  <div class="container">

    <div id="toast-warning" class="toast align-items-center border-0 position-fixed top-0 start-50 translate-middle-x" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="d-flex bg-toast">
        <div class="toast-body Outfit">
          <i class="fa-solid fa-exclamation me-2 btn-fa"></i>
          {{ toastMessage }}
        </div>
        <button type="button" id="btnclose" class="btn-close btn-close-white me-2" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
    </div>

    <div class="d-flex divlogo justify-content-end">
      <h1 class="logo fontlogo outfit">Furnish</h1>
    </div>
    <div class="row justify-content-center mdiv">
      <div class="col-12">
        <h2 class="text-center forgotaccount outfit">Forgot Your Password?</h2>
        <p class="text-center textforgot outfit">Enter your email address associated with your account, and we will send you a link to reset your password.</p>
      </div>
      <div class="col-12 col-md-6 d-flex align-items-center justify-content-center">
          <form (ngSubmit)="onSubmit3()" > <!-- -->
            <div class="form-group">
              <label for="Email" class="classlabel">Email*</label>
              <input type="email" class="form-control outfit" id="Email" placeholder="Enter Your Email Address..." [(ngModel)]="email" name="email" required autocomplete="off"/>
            </div>
            <button type="submit" class="signupBtn Outfit w-100">Reset Password</button>
            <div class="Return Outfit" (click)="onclick()"><span class="greater"> < </span>Return to Log in Page</div>
          </form>
      </div>
    </div>
  </div>
</div>




