<div class="custom-bg min-vh-100 d-flex align-items-center">
  <div class="container">

    <div id="toast-warning" class="toast align-items-center border-0 position-fixed top-0 start-50 translate-middle-x" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="d-flex bg-toast">
        <div class="toast-body Outfit">
          <i class="fa-solid fa-exclamation me-2 btn-fa"></i>
          {{ toastMessage }}
        </div>
        <button type="button" id="btnclose" class="btn-close btn-close-white me-2" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
    </div>

    <div class="d-flex divlogo justify-content-end">
      <h1 class="logo fontlogo outfit">Furnish</h1>
    </div>
    <div class="row justify-content-center mdiv">
      <div class="col-12">
        <h2 class="text-center creataccount outfit">Reset your password</h2>
        <p class="text-center textlogin outfit">Enter a new password for your account.</p>
      </div>
      <div class="col-12 col-md-6 d-flex align-items-center justify-content-center">
          <form (ngSubmit)="onSubmit3()">
            <div class="form-group">
              <label for="password" class="classlabel">New Password*</label>
              <div class="input-group mb-3 position-relative">
                <input
                  type="password"
                  class="form-control outfit"
                  id="password"
                  placeholder="Enter The New Password..."
                  [(ngModel)]="password" name="password"
                  required
                  autocomplete="off"
                  [type]="showPassword ? 'text' : 'password'"
                />
                <button
                  title="toggle"
                  type="button"
                  (click)="togglePassword()"
                  class="toggle-password-btn"
                >
                  <i [ngClass]="showPassword ? 'fas fa-eye' : 'fas fa-eye-slash'" id="toggleIcon2" class="toogle"></i>
                </button>
              </div>
            </div>
            <div class="form-group">
              <label for="repassword" class="classlabel">Confirm Password*</label>
              <div class="input-group mb-3 position-relative">
                <input
                  type="password"
                  class="form-control outfit"
                  id="repassword"
                  placeholder="Re-enter New Password..."
                  [(ngModel)]="repassword" name="repassword"
                  required
                  autocomplete="off"
                  [type]="showPassword2 ? 'text' : 'password'"
                />
                <button
                  title="toggle"
                  type="button"
                  (click)="togglePassword2()"
                  class="toggle-password-btn"
                >
                  <i [ngClass]="showPassword2 ? 'fas fa-eye' : 'fas fa-eye-slash'" id="toggleIcon2" class="toogle"></i>
                </button>
              </div>
            </div>
            <button type="submit" class="signupBtn Outfit w-100">Reset Password</button>
          </form>
      </div>
    </div>
  </div>
</div>




