<footer>
  <div class="container">
    <div class="main">
      <div class="logo_name Outfit">Furnish</div>
      <nav class="navbar navbar-expand-lg" id="boxnav">
        <div id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0" id="menu">
            <li class="nav-item">
              <a class="nav-link Outfit" aria-current="page" routerLink="/home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link Outfit" routerLink="/filters">Product</a>
            </li>
            <li class="nav-item">
              <a class="nav-link Outfit" routerLink="/contact">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link Outfit" routerLink="/about">About</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
  <hr>
  <div class="legal_section">
    <div class="content">
      <p class="p Outfit">© 2024 Furnish. All rights reserved.</p>
      <div class="legal">
        <nav class="navbar4 navbar-expand-lg">
          <div id="navbarNavAltMarkup">
            <div class="navbar4">
              <a class="nav-link3 Outfit" href="#">Privacy Policy</a>
              <a class="nav-link3 Outfit" href="#">Terms of Service</a>
              <a class="nav-link3 Outfit" href="#">Cookies Settings</a>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>
</footer>
