<div class="custom-bg">
  <app-nav></app-nav>
  <div class="container mt-4">
    <!-- Page Header -->
    <header class="text-center pb-5">
        <h2 class="title">Your Cart</h2>
        <p>Review the items you’ve selected before proceeding to checkout.</p>
    </header>

    <!-- Page Content - Main -->
    <main class="row">
        <!-- Left Section: Cart Items -->
        <div class="col-lg-7 col-md-12 mb-4">
            <!-- Card 1 -->
            <div class="card mb-3 p-3">
                <div class="row g-0">

                    <!-- Image with a frame -->
                    <div class="col-4 col-md-3 d-flex align-items-center justify-content-center">
                        <div class="img-frame">
                          <img [src]="'assets/' + product.image" alt="not loaded" class="img-fluid"/>
                        </div>
                    </div>

                    <!-- Card Info -->
                    <div class="col-8 col-md-6">
                        <h4 class="card-title">{{product.name}}</h4>
                        <p class="card-text-body">{{product.price}} EGP</p>
                    </div>

                    <div class="col-12 col-md-3 d-flex flex-column justify-content-between">
                        <!-- Remove Icon -->
                        <p class="d-flex align-items-start justify-content-end mb-0">
                            <!-- <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                class="bi bi-trash3" viewBox="0 0 16 16">
                                <path
                                    d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5" />
                            </svg> -->
                        </p>
                        <!-- Counter -->
                        <div class="d-flex align-items-end justify-content-end">
                            <div class="counter d-flex justify-content-around align-items-center">
                                <button class="btn btn-outline-secondary" (click)="decreaseCount()">-</button>
                                <input type="text" [value]="count" min="1" title="1">
                                <button class="btn btn-outline-secondary" (click)="increaseCount()">+</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Right Section: Order Summary -->
        <div class="col-lg-5 col-md-12">
            <div class="order-summary p-4">
                <h5>Order Summary</h5>
                <div class="row">
                    <div class="col-6">
                        <p>Subtotal:</p>
                        <p>Discount:</p>
                        <p>Delivery Fee:</p>
                    </div>
                    <div class="col-6 text-end">
                        <p>{{ getSubtotal() }} EGP</p>
                        <p>000 EGP</p>
                        <p>50 EGP</p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-6 total">Total:</div>
                    <div class="col-6 total text-end">{{ getTotal() }} EGP</div>
                </div>
                <button class="btn btn-primary w-100 btn-checkout" (click)="procedtocheck()">Proceed to Checkout</button>
            </div>
        </div>
    </main>
</div>
  <app-footer></app-footer>
</div>
